<div class="loadingProductsMessage">
  <p *ngIf="cardCount == null && jsonData != null" class="loadingProductsText">{{loadingMessageText}}</p>
</div>
<div class="container productListStyle">
  <div *ngIf="jsonData && showBarcodeProduct == false" class="row">
    <div *ngFor="let product of jsonData.products" class="col-lg-3 col-md-6 mb-4">
      <div class="card" style="width: 12rem;" #productCards>
        <img class="card-img-top" alt="Card image cap" [src]="product.image_url">
        <div class="card-body">
          <h5 class="card-title">{{product.product_name}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngIf="product.ecoscore_data?.agribalyse?.co2_total != null">
            Total C02 produced to make this product: {{product.ecoscore_data.agribalyse.co2_total}}g
          </li>
          <li class="list-group-item" *ngIf="product.ecoscore_data?.agribalyse?.co2_total == null">
            No C02 value for this product
          </li>
        </ul>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (change)="toggleSelection($event, product.product_name, product.ecoscore_data.agribalyse.co2_total, product.image_url)">
          <label class="form-check-label" for="flexCheckDefault">
            Add product to selected products list
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="jsonData && showBarcodeProduct == true" class="barcodeProduct">
  <div class="card" style="width: 12rem;">
    <img class="card-img-top" alt="Card image cap" [src]="jsonData.product.image_url">
    <div class="card-body">
      <h5 class="card-title">{{jsonData.product.product_name}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngIf="jsonData.product.ecoscore_data?.agribalyse?.co2_total != null">
        Total C02 produced to make this product: {{jsonData.product.ecoscore_data.agribalyse.co2_total}}g
      </li>
      <li class="list-group-item" *ngIf="jsonData.product.ecoscore_data?.agribalyse?.co2_total == null">
        No C02 value for this product
      </li>
    </ul>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (change)="toggleSelection($event, jsonData.product.product_name, jsonData.product.ecoscore_data.agribalyse.co2_total, jsonData.product.image_url)">
      <label class="form-check-label" for="flexCheckDefault">
        Add product to selected products list
      </label>
    </div>
  </div>
</div>
<div *ngIf="selectedProducts.length > 0">
  <h1 class="c02TrackerHeading">Selected Products List</h1>
  <p class="introParagraph">Below is a list of your selected products. When you are finished click the submit button to submit them</p>
  <div class="container electricityForm">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card" #barcodeProduct>
          <div class="card-header">
            <h2 class="text-center">Submit Products</h2>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li *ngFor="let selectedProduct of selectedProducts" class="list-group-item">
                {{ selectedProduct.name }}
              </li>
            </ul>
            <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

