
@import '~bootstrap/dist/css/bootstrap.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@fortawesome/fontawesome-free/css/all.css';


body {
    background-color: #D0E7D2;
}
.c02TrackerHeading {
    text-align: center;
    color: #618264;
    margin: 20px;
}
/* barcode scanner styling */
.barcodeScannerBox {
    display: flex;
    justify-content: center;
    margin: 40px;
}
.scannerButton {
    width: 20%;
}
.customNavbar {
    background-color: #B99470;
    border-radius: 20px;
    padding: 20px;
}
.navbar-nav .nav-link:link {
    color: #fff; 
}

.navbar-nav .nav-link:visited {
    color: #fff; 
}

.navbar-nav .nav-link:hover {
    color: #618264;
} 
.navHeading {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}
.image-border {
    border: 20px solid;
    border-image: url('assets/leaf-border2.png');
    border-image-slice: 40;
    border-image-repeat: round;
}
.introParagraph {
    text-align: center;
    color: #618264;
    padding: 20px;
    font-size: 20px;
}
#searchBarHeading {
    text-align: center;
    font-size: 20px;
    color: #618264;
    margin: 20px;
}
.barcodeHeading {
    text-align: center;
    font-size: 20px;
    color: #618264;
    margin: 20px;
}
/*products page*/
.barcodeProduct {
    display: flex;
    justify-content: center;
}
.loadingProductsMessage {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.loadingProductsText{
    text-align: center;
    padding: 20px;
    background-color: #fff;
    width: fit-content;
    border-radius: 50px;
    color: #618264;
}
.productListStyle {
    margin: 100px;
}
mat-form-field {
    width: 100%;
}
.signInAndOutBox {
    margin-top: 100px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/*Electricity component*/
.electricityForm {
    margin-top: 100px;
}
.electricityFromBtn {
    width: 50%;
    padding-left: 100px;
}
/*Statistics Component*/
@media (max-width: 768px) {
    .charts {
        min-width: 100px; /* Adjust as needed */
    }
}

.charts {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    height: 400px;
}
.chartCard {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}
.chartList {
    text-align: left;
    color: #618264;
    padding: 20px;
    font-size: 20px;
}
.chartListDiv {
    display: flex;
    justify-content: center;
}
/*Footer*/
.footer {
    width: 100%;
    background-color: #B99470;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
}
.footer-image-border {
    margin-top: 230px; 
    border: 20px solid;
    border-image: url('assets/leaf-border2.png');
    border-image-slice: 40;
    border-image-repeat: round;
}
.footerText {
    color: white;
}
.social-links {
    display: flex;
    justify-content: center;
  }
  
  .social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #B99470;
    color: #fff;
    text-decoration: none;
  }
  
  .social-link i {
    font-size: 20px;
  }
  