/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

body {
    background-color: #D0E7D2;
}
#c02TrackerHeading {
    text-align: center;
    color: #618264;
    margin: 20px;
}
#introParagraph {
    text-align: center;
    color: #618264;
    padding: 20px;
    font-size: 20px;
}
#searchBarHeading {
    text-align: center;
    font-size: 20px;
    color: #618264;
    margin: 20px;
}
.productListStyle {
    margin: 100px;
}

