
<form (ngSubmit)="signIn()">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="username" name="username" placeholder="Username" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" matInput [(ngModel)]="password" name="password" placeholder="Password" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Sign In</button>
</form>
