
<div class="container signInAndOutBox">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Sign In</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="signIn()">
            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username" required formControlName="username">
              <mat-error *ngIf="form.get('username')?.hasError('pattern')">
                Username cannot be an email.
              </mat-error>
            </mat-form-field>
          
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password" placeholder="Password" required>
            </mat-form-field>
            
            <button mat-raised-button color="primary" type="submit">Sign In</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>