
<div class="container electricityForm">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Electricity Tracker</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="electricityForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
              <input matInput placeholder="Usage for the month (in kWh)" formControlName="usageInKwh">
              <mat-error *ngIf="electricityForm.get('usageInKwh')?.hasError('required')">
                Please enter the electricity usage in kWh.
              </mat-error>
              <mat-error *ngIf="electricityForm.get('usageInKwh')?.hasError('min')">
                Usage must be greater than or equal to 0.
              </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
              <mat-label>Electricity Source</mat-label>
                  <mat-select formControlName="electricitySource" (selectionChange)="onSelectionChange($event.value)">
                      <mat-option *ngFor="let source of this.electricitySources" [value]="source.value">
                          {{ source.label }}
                      </mat-option>
                  </mat-select>
            </mat-form-field>
              <button mat-raised-button color="primary" type="submit" class="electricityFromBtn">Submit</button>
        
                <div *ngIf="co2Produced !== null && co2Produced >= 0">
                    <h3>CO2 produced: {{ co2Produced }} kg</h3>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
