<form [formGroup]="electricityForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <h1>Electricity Tracker</h1>
        </mat-card-header>
      <mat-card-content>
        <mat-form-field>
            <input matInput placeholder="Usage for the month (in kWh)" formControlName="usageInKwh">
            <mat-error *ngIf="electricityForm.get('usageInKwh')?.hasError('required')">
              Please enter the electricity usage in kWh.
            </mat-error>
            <mat-error *ngIf="electricityForm.get('usageInKwh')?.hasError('min')">
              Usage must be greater than or equal to 0.
            </mat-error>
          </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="outline">
            <mat-label>Electricity Source</mat-label>
                <mat-select formControlName="electricitySource">
                    <mat-option *ngFor="let source of this.electricitySources" [value]="source.value">
                        {{ source.label }}
                    </mat-option>
                </mat-select>
        </mat-form-field>
      </mat-card-content>
    
      <button mat-raised-button color="primary" type="submit">Submit</button>

      <mat-card-content>
        <div *ngIf="co2Produced !== null">
            <h3>CO2 produced: {{ co2Produced }} kg</h3>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
  